<?xml version="0.0" ?>
<robot name="raw_model.urdf">
  <link name="baseLink">
    <contact>
      <friction_anchor/>
      <lateral_friction value="0.5"/>
      <spinning_friction value="0.001"/>
      <rolling_friction value="0.001"/>
      <contact_cfm value="0.1"/>
      <contact_erp value="1.0"/>
    </contact>
    <inertial>
       <origin rpy="0 0 0" xyz="-0.005 0.01 0.1"/>
       <mass value=".205"/>
       <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.005 0.01 0.1"/>
      <geometry>
        <cylinder radius="0.0375" length="0.233" />
      </geometry>
      <material name="red">
        <color rgba="0.4 0.4 1.0 1.0"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="-0.005 0.01 0.1"/>
      <geometry>
        <cylinder radius="0.0375" length="0.233" />
      </geometry>
    </collision>
  </link>
</robot>
